@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400&display=swap');

/* reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Anek Malayalam', sans-serif;
    background-color: #f2f2f2;
}

.menu {
    background-color: #38761d;
    overflow: hidden;
    margin-top: 0px;
    font-size: 22px;
}

.menu ul {
    list-style-type: none;
}

.menu a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
}

.menu a:hover {
    background-color: #e06666;
}


.hero {
    background-image: url('img/hero_food.jpg');
    height: 300px;
    font-size: 24px;
    text-align: center;
    padding-top: 200px;
    display: block;
}

.hero h1 {
    font-weight: 400;
    font-size: 72px;
    margin: 10px;
    color: white;
    width: 70vh;
    margin: auto;
    background-color: #38761d;
}

.hero button {
    background: #38761d;
    border-radius: 11px;
    padding: 15px 25px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 20px/1 "Open Sans", sans-serif;
    text-align: center;
    border: none;
}

.info-table h2 {
    font-weight: 200;
}

.info-table {
    overflow-x: auto;
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    font-weight: 400;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border: 1px solid #212529;
}

.table .dark-header th {
    color: #fff;
    background-color: #343a40;
}

#loading {
    width: 40px;
    margin-left: -15px;
    display: none;
}

#result tr:nth-child(even) {
    background-color: #f2f2f2;
}

#result td,
#total-row td {
    padding-left: 5px;
}


/* hide table for now */
#table {
    display: none;
}

.info-panel h3 {
    text-align: center;
}

#user-food {
    height: 45px;
    font-size: 24px;
    margin: 20px 0px;
}

#clear-table-btn {
    background: #e06666;
    border-radius: 11px;
    padding: 7px 10px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 14px/1 "Open Sans", sans-serif;
    text-align: center;
    border: none;
    margin: 10px 20px;
    display: none;
}

#clear-table-btn,
#btn:hover {
    cursor: pointer;
}